.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    transition: width 0.2s;
}
