#container {
    font-family: Arial;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(240, 45%, 49%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(240, 45%, 60%);
}
button:active {
    background-color: hsl(240, 45%, 70%);
}
input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
img {
    height: 100px;
}